
body{
    background-color: black;
    font-family: 'Bradley Hand', cursive;
    color: white; 
}
.Header {
    color: black;
    text-align: center;
    padding: 20px;
    background-color: rgba(245, 233, 10, 0.833);
}

.footer {
    color: black;
    text-align: center;
    padding: 20px;
    background-color: rgba(254, 120, 9, 0.833);
    margin-top: 1cm;
}

.formulario {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dfd5d5d4;
    border-radius: 8px;
    box-shadow: 0 0 1cm rgba(67, 233, 6, 0.966);
    color: black;
    
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {

    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.formulario button[type="submit"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    background-color: yellow;
    color: red;
    cursor: pointer;
}

.formulario button[type="submit"]:hover {
    background-color: #ffd700;
}

.centrado{
    text-align: center;
}




  

